<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../Pictures/icon.png"/>
  <!-- Custom styles -->
  <link rel="stylesheet" href="../dashboard/css/style.min.css">

  <title>Creator | KahootClone</title>
  <!-- <link rel = "stylesheet" href = "../../css/quizCreator.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link rel = "stylesheet" href = "../css/buttons_createquestion.css">

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> -->
</head>

<body onload="setBGColor()">
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="/" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <img src="../../Pictures/image0white.png" width="40%" alt="">
                <div class="logo-text">
                
                    <span class="logo-title">Voca.</span>
                </div>

            </a>
            <br>
            <button  class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div cass="sidebar-body">
          <ul class="sidebar-body-menu">
              <li>
                  <a class="active" href="/"><span class="icon home" aria-hidden="true"></span>Home</a>
              </li>
              <li>
                  <a class="show-cat-btn" href="##">
                      <span class="icon document" aria-hidden="true"></span>My Games/Vocas
                      <span class="category__btn transparent-btn" title="Open list">
                          <span class="sr-only">Open list</span>
                          <span class="icon arrow-down" aria-hidden="true"></span>
                      </span>
                  </a>
                  <ul class="cat-sub-menu">
                      <li>
                        <form action="/showvocas" method="get">
                          <a><button style="background-color: transparent; color: #ffffff;" type="submit">All Vocas</button></a>
                          
                        </form>
                      </li>
                      <li>
                          <form action="/createquiz" method="get">
                            <a><button style="background-color: transparent; color: #ffffff;" type="submit">Add Voca</button></a>
                            
                          </form>
                      </li>
                  </ul>
              </li>
              <li>
                <a class="show-cat-btn" href="##">
                    <span class="icon paper" aria-hidden="true"></span>Handouts
                    <span class="category__btn transparent-btn" title="Open list">
                        <span class="sr-only">Open list</span>
                        <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                </a>
                <ul class="cat-sub-menu">
                    <li>
                      <form action="/showhandouts" method="get">
                        <a><button style="background-color: transparent; color: #ffffff;" type="submit">All Handouts</button></a>
                        
                      </form>
                    </li>
                    <li>
                      <form action="/createhandout" method="get">
                        <a><button style="background-color: transparent; color: #ffffff;" type="submit">Add new Handouts</button></a>
                        
                      </form>
                    </li>
                </ul>
            </li>
              <li>
                  <a class="show-cat-btn" href="##">
                      <span class="icon folder" aria-hidden="true"></span>Classes
                      <span class="category__btn transparent-btn" title="Open list">
                          <span class="sr-only">Open list</span>
                          <span class="icon arrow-down" aria-hidden="true"></span>
                      </span>
                  </a>
                  <ul class="cat-sub-menu">
                      <li> 
                        <a><button style="background-color: transparent; color: #ffffff;">All Classes</button></a>
                      </li>
                      <li>
                        <a><button style="background-color: transparent; color: #ffffff;" onclick="alertbox()" >Add Classes</button></a>
                    </li>
                  </ul>
              </li>
            
              <li>
                <a class="show-cat-btn" href="##">
                  <img src="../dashboard/img/controlersymbol.png" width="25" alt="">
                    <span class="icon game" aria-hidden="true"></span>Play
                    <span class="category__btn transparent-btn" title="Open list">
                        <span class="sr-only">Open list</span>
                        <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                </a>
                <ul class="cat-sub-menu">
                    <li>
                        <a href="../index.html">Excercise Mode</a>
                    </li>
                    <li>
                      <form action="/practicemode" method="get">
                        <a><button style="background-color: transparent; color: #ffffff;" type="submit">Practise Mode</button></a>
                        
                      </form>
                    </li>
                </ul>
            </li>
            
          </ul>
          <span class="system-menu__title">system</span>
          <ul class="sidebar-body-menu">
            
              <li>
                  <a href="##"><span class="icon setting" aria-hidden="true"></span>Settings</a>
              </li>
          </ul>
      </div>
    </div>
   
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
      <div class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
      <form action="Get">
        <input type="text" placeholder="Enter keywords ..." required>
        <button type="submit">Search</button>
      </form>
      </div>
    </div>
    <div class="main-nav-end">
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>
     
      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
    
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <picture><source srcset="./img/avatar/avatar-illustrated-02.webp" type="image/webp"><img src="./img/avatar/avatar-illustrated-02.png" alt="User name"></picture>
          </span>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="##">
              <i data-feather="user" aria-hidden="true"></i>
              <span>Profile</span>
            </a></li>
          <li><a href="##">
              <i data-feather="settings" aria-hidden="true"></i>
              <span>Account settings</span>
            </a></li>
          <li><a class="danger" href="../index.html">
              <i data-feather="log-out" aria-hidden="true"></i>
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        
        <h2 class="main-title">Voca Creator</h2>

        <div class="form-field">
            <h5 class="main-title" id = "quizTitle">Voca Title: </h5>
            <input id = "name" type = "text" name="name" autofocus/>
        </div>
        <br>
        <br>
        <div id = "allQuestions">
            <div id="question-field">
                <label>Word 1: </label>
                <input class = "question" id = "q1" type = "text" autofocus/>
                <br>
                <br>
                <label>translation </label>
                <input id = "1a1" type = "text" autofocus/>
              
                <label style="visibility: hidden;">Correct Answer (1-4) :</label>
                <input style="visibility: hidden;" class = "correct" id = "correct1"  type = "number" autofocus value="1"/>
            </div>
        </div>
        <br>
        <button onclick = "addQuestion()">Add another question</button>


        <div class="form-field">
            <button id="exit" onclick = " cancelQuiz()">Exit</button>
        </div>

        <button onclick="updateDatabase()">Create </button>
        <div style="margin-top: -0.1%;" class="wrapper" onclick = 'updateDatabase()'>
            <a class="cta" >
                <span style=" -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;">CREATE QUIZ</span>
                <span>
      <svg  width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
          <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
          <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
        </g>
      </svg>
    </span>
            </a>
        </div>

        <script src = "../../socket.io/socket.io.js"></script>
        <script src = "./loadquestions.js"></script>
    </body>


      </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2021 © Voca. <a href="elegant-dashboard.com" target="_blank"
          rel="noopener noreferrer"></a></p>
    </div>
    <ul class="footer-end">
      <li><a href="##">About</a></li>
      <li><a href="##">Support</a></li>
      <li><a href="##">Puchase</a></li>
    </ul>
  </div>
</footer>
  </div>
</div>

<!-- Chart library -->
<script src="../dashboard/plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="../dashboard/plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="../dashboard/js/script.js"></script>
</body>

</html>